.sidebar-mobile,
.hamburger-btn {
  display: none;
}

.sidebar {
  grid-area: sideb;
  position: relative;
  top: 0;
  left: 0;
  width: calc(100vw / 5.68);
  max-width: 400px;
  background-color: $sidebar-bg-color;
  background-image: url("/assets/images/bgPattern.svg");
  transition: width 0.3s ease;
  flex-shrink: 0;
}

.sidebar.collapsed {
  width: 6rem;
  position: relative;
}

.sidebar .text {
  display: inline;
  transition: opacity 0.3s ease;
  left: 0;
  position: relative;
}

.logo_container {
  position: relative;
  top: 3rem;
  left: 2.5rem;
}

.logo,
.mobile-logo {
  height: 3.2rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 9rem;
  width: calc(100% - 0.8em);
  left: 2.4375rem;
  overflow: hidden;
}

.sidebar.collapsed .logo_container {
  left: 1.5rem;
}

.sidebar.collapsed ul {
  left: 1.2rem;
}

.sidebar .menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
  padding: 1.25rem;
}

.sidebar.collapsed .menu-item {
  padding-left: 0.5rem;
}

.sidebar li {
  font-size: 1.25rem;
  display: block;
  border-radius: 0.5rem;
}

.sidebar-text {
  color: #C6C6C6;
  text-shadow: 0 0 1px #333;
}

.sidebar li:first-child {
  background-color: $bg-color;
}

.sidebar li:hover {
  background-color: $bg-color;
}

.sidebar li:hover .sidebar-text,
.sidebar li:first-child .sidebar-text  {
  color: #333;
}

.sidebar-toggle {
  position: absolute;
  top: 4rem;
  right: -1.2rem;
  background: $sidebar-bg-color;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
  width: 1.875rem;
  height: 1.875rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: .25rem;
}

.sidebar-toggle:focus {
  outline: none;
}

.sidebar-icon {
  width: 2.25rem;
  height: 2.25rem;
}

.bi-chevron-left,
.bi-chevron-right {
  font-size: 1rem;
  text-shadow: 0 0 1px white;
  padding-right: 0.25rem;
}

/* For handling the smooth visibility of text */
.sidebar-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.open .sidebar-text {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}