.hamburger-btn {
  display: none;
}

.sidebar {
  width: 21.125rem;
  background-color: $sidebar-bg-color;
  background-image: url('/assets/images/bgPattern.svg');
  transition: width 0.3s ease;
  flex-shrink: 0;
}

.sidebar.collapsed {
  width: 6rem;
}

.logo_container {
  top: 3rem;
  left: 2.5rem;
}

.logo,
.mobile-logo {
  height: 3.2rem;
}

.sidebar ul {
  list-style-type: none;
  top: 9rem;
  width: calc(100% - 0.8em);
  left: 2.4375rem;
}

.sidebar.collapsed .logo_container {
  left: 1.5rem;
}

.sidebar.collapsed ul {
  left: 1.2rem;
}

.sidebar .menu-item {
  padding: 1.25rem;
}

.sidebar.collapsed .menu-item {
  padding-left: 0.5rem;
}

.sidebar li {
  font-size: 1.25rem;
}

.sidebar-text {
  color: #c6c6c6;
  text-shadow: 0 0 1px #333;
}

.sidebar li:first-child {
  background-color: $grid-bg-color;
}

.sidebar li:hover {
  background-color: $grid-bg-color;
}

.sidebar li:hover .sidebar-text,
.sidebar li:first-child .sidebar-text {
  color: #333;
}

.sidebar-toggle {
  top: 4rem;
  right: -1.2rem;
  background: $sidebar-bg-color;
  cursor: pointer;
  z-index: 1000;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.25rem;
}

.sidebar-toggle:focus {
  outline: none;
}

.sidebar-icon {
  width: 2.25rem;
  height: 2.25rem;
}

.chevron-left,
.chevron-right {
  transition: transform 0.4s;
}

.chevron-left {
  margin-right: 0.35rem;
}

.chevron-right {
  margin-right: 0.25rem;
  transform: rotateY(180deg);
}
